<!DOCTYPE HTML>
<html>
  <head>
    <title>ChristmasGITree</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/superhero/bootstrap.min.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script src="../static/interface.js"></script>
    <script type="text/javascript" charset="utf-8">
    </script>
  </head>

  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="../static/ChristmasGITree.png" id="logo"></a>
      </div>
      <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#" class="method" id="on">On</a></li>
          <li><a href="#" class="method" id="off">Off</a></li>
          <li><a href="#" class="method" id="plus">Plus</a></li>
          <li><a href="#" class="method" id="minus">Minus</a></li>
          <li><a href="#" class="method" id="restore">Restore</a></li>
          <li><a href="#" class="method" id="disco">DiScO</a></li>
          <li><a href="#" class="method" id="knightRider">Knight Rider</a></li>
        </ul>
      </div>
    </div>
    <div class="container-fluid">
      <p>
        <h2>Current progress:</h2>
        <div class="progress progress-striped active">
          <div class="progress-bar" style="width: {{ percentage }}%">{{ value }}</div>
        </div>
      </p>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Log:</h3>
        </div>
        <div class="panel-body" id="console">
        </div>
        <div class="panel-body" id="cli">
          <label for="cli"></label><input type="text" name="cli"/>
        </div>
      </div>
      <div class="btn-group btn-group-justified">
        <a href="#" class="btn btn-primary method" id="interrupt">Kill current process</a>
        <a href="#" class="btn btn-danger method" id="cleanup">Clean up queue</a>
      </div>
    </div>
  </body>
</html>
